body {
	background-color: #5c5c3d;
	max-width: 1300px;
}

h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-image: url(banner.jpg);
	border: 1px solid black;
	color: #5c5c3d;
	height: 200px;
	width: 790px;
	padding-left: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.influential {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.unicycle {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.owl {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.scream {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#showcase {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	color: white;
}

a:hover {
	color: blue;
}

a:visited {
	color: black;
}

@media screen and (max-width: 827px) {
	h1 {
		width: 60%;
		height: 20%;
	}
}