body {
	background-color: #5c5c3d;
}

h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-image: url(banner.jpg);
	color: #5c5c3d;
	height: 200px;
	width: 790px;
	padding-left: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}